{% set page = "enter" %}
{% extends "partials/_layout" %}

{% block content %}
  <section aria-labelledby="enter-title">
    <h1 id="enter-title" class="text-width text-center">
      We're not your liberal grandma's tea party...  We're the guild on every
      realm's blacklist. Fat and Badass is a brotherhood of warriors, renegades,
      and schizophrenics who fearlessly wipe on raid bosses for hours upon hours.
      Are you ready?
    </h1>

    <footer>
      <a class="primary">Fuck Yea</a>
      <a class="secondary cursor-middlefinger">I'm Scared</a>
    </footer>
  </section>
{% endblock %}