@use "../queries" as queries;

body.enter {
  section {
    display: grid;
    place-items: center;
  }

  h1 {
    margin-bottom: 24px;
    font-family: var(--ff-secondary);
    text-align: left;
    line-height: 1.5;

    @media (min-width: queries.$mq-lg) {
      margin-bottom: 48px;
      font-size: 2rem;
      text-align: center;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    gap: 24px;

    @media (max-width: queries.$mq-lg) {
      flex-direction: column;
      justify-self: stretch;
      gap: 12px;
    }
  }
}
