body.enter {
  section {
    display: grid;
    place-items: center;
  }

  h1 {
    margin-bottom: 48px;
    font-size: 2rem;
    font-family: var(--ff-secondary);
    line-height: 1.5;
  }

  footer {
    display: flex;
    gap: 24px;
  }
}
