a.primary,
a.secondary {
  padding: 12px 40px;
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
}

a.primary {
  position: relative;
  color: var(--clr-black);
  background-color: var(--clr-white);

  &:hover {
    color: var(--clr-accent);
  }
}

a.secondary {
  color: var(--clr-white);
}
