{% set page = "home" %}
{% extends "partials/_layout" %}

{% block content %}
  <section aria-labelledby="home-title">
    <h1 id="home-title" class="pop-in">FAT AND BADASS</h1>
  </section>
{% endblock %}