@use "./resets";
@use "./typography";
@use "./pages/index" as pages;
@use "./components/index" as components;

:root {
  --clr-white: white;
  --clr-black: rgb(0, 0, 0, 0.88);
  --clr-orange: #f35c0a;
  --clr-accent: var(--clr-orange);
  --ff-main: "Roomach", sans-serif;
  --ff-secondary: "Discord", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  font-family: var(--ff-main);
  color: var(--clr-white);
  background-color: var(--clr-black);
  cursor: url("/assets/images/cursor.svg"), auto;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.075;
    background: url("/assets/images/enter.jpg") repeat center / 250px;
  }
}

.text-width {
  max-width: 70ch;
}

.text-center {
  text-align: center;
}

.cursor-middlefinger {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>"),
    auto;
}

::selection {
  color: var(--clr-accent);
}
